/* Comentário */
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 28px;
    padding-top: 46px;
    margin: 0;
}
p, ul li {
  padding-bottom: 16px;
}
p, h2, ul li {
  font-family: 'Roboto', sans-serif;
}
ul li {
  width: 80%;
  text-align: justify;
  margin-top: 6px;
  line-height: 1.2;
}
a, a:visited {
  color: blue;
  text-decoration: none;
}
.topo-container {
    width: 100%;
    height:auto;
    display:table;
    position: inherit;
    background-color: #F9F9F9;
    transition: .5s;
    border-top: 2px solid #1087ff;
    padding-bottom: 2px;
  }
  .topo-header {
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    margin-top: 2px;
  }
  .topo-nav-wraper {
    margin-left: 45%;
  }
  .topo-nav {
    float: left;
    width: 100%;
    max-width: 1280px;
    height: 30px;
    margin: 0 auto;
    background-color: #F9F9F9;
  }
  .navContent {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #222222;
  }
.topo-nav-wraper p.navContent {
    position: relative;
    display: inline-block;
    padding: 8px 10px;
    margin: 0;
    cursor: pointer;
    border-right: 1px solid #cecece;
  }
  .topo-nav-wraper p.navContent::after {
    padding-top: 2px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background-color: #1087ff;
    opacity: 0;
    transition: opacity 1s ease;
  }
  .topo-nav-wraper p.navContent:hover::after {
    width: 82%;
    opacity: 1;
  }
  .topo-nav-wraper p.navContent:last-child {
    border-right: none;
  }
  .tap-menu-icon {
    display: none;
  }
  .perfil-head {
    margin-top: 4px;
    width: 100%;
    min-height: 600px;
    background-image: url(perfil-bg.jpg);
    border-bottom: #222222;
    border-top: #222222;
  }
  .perfil-describe {
    width: 300px;
    height: 200px;
    position: absolute;
    margin: 40px 156px;
    background-color: rgba(249, 249, 249, 0.5);
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.4);
    padding: 10px;
    border-radius: 20px;
  }
  .perfil-text-head{    
    width: 100%;
  }
  .section-title {
    display: flex;
    justify-content: center;
    font-size: 26px;
    letter-spacing: 4px;
    margin: auto;
    padding: 20px;
    position: relative;
    color: #ffffff;
    background-color: #1087ff;
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.4);
  }
  .perfil-text-content{
    font-size: 14px;
    letter-spacing: 0.3px;
    text-align: justify;
    width: 60%;
    position: flex;
    margin: auto;
  }
  .formacao-text-content, .cursos-text-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-align: justify;
    width: 60%;
    margin: auto;
  }
  .school-name, .brief-desc {
    flex: 1;
    height: auto;
    position: flex;
  }
  .school-name p, .brief-desc p {
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;    
  }
  .brief-desc p {
    line-height: 24px;
  }
  .relational-school-brief {
    display: flex;
    align-items: center;
  }
  @media only screen and (max-width: 1035px) {
    .topo-nav-wraper p.navContent {
      display: none;
    }
    .topo-nav-wraper {
      margin-left: 90%;
    }
    .tap-menu-icon {
      display: block;
    }
    .perfil-head {
      min-height: 490px;
      background-size: 960px 540px;
      background-repeat: no-repeat;
      background-position: -350px 0 ;
    }
    .perfil-describe {
      margin: 20px 20px;
    }
    .perfil-text-content {
      width: 90%;
    }
  }